In [60]:
import requests
import urllib.request
import pandas as pd

In [204]:
api_key = 'inser api code here'
origin = 'Tel Aviv'

target = []
distance_km = []
duration = []
longitude = []
latitude = []

file = open("insert file path")

for line in file:
    target.append(line.strip())

    dist_url = 'https://maps.googleapis.com/maps/api/distancematrix/json?origins=%s&destinations=%s&key=%s' % (origin,line,api_key)
    response1 = requests.get(dist_url).json()
    
    row1 = response1['rows'][0]['elements'][0]
    dist = row1['distance']['value']/1000
    dur_minutes = row1['duration']['value']/60
    dur_hours = int(dur_minutes // 60)
    dur_minutes = int(dur_minutes % 60)
    
    
    geo_url = 'https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s' % (line,api_key)
    response2 = requests.get(geo_url).json()
    
    row2 = response2['results'][0]['geometry']['location']
    long = row2['lng']
    lat = row2['lat']
    
    distance_km.append(dist)
    duration.append(f'{dur_hours:02d}:{dur_minutes:02d}')
    longitude.append(long)
    latitude.append(lat)

    
data = {'Target':target, 'Distance_KM':distance_km, 'Duration':duration, 'Longitude':longitude, 'Latitude':latitude}
df = pd.DataFrame(data)

In [205]:
df

      Target  Distance_KM Duration  Longitude   Latitude
0   Istanbul     1815.227    21:02  28.978359  41.008238
1  Amsterdam     4532.541    48:03   4.904139  52.367573
2   Valletta     3792.881    50:52  14.514100  35.899237
3      Basel     4092.805    44:02   7.588576  47.559599
4       Doha     2164.477    22:38  51.531040  25.285447

In [206]:
df_sorted = df.sort_values(by='Distance_KM', ascending=False)
top3 = df_sorted['Target'].head(3)
top3

1    Amsterdam
3        Basel
2     Valletta
Name: Target, dtype: object